*{
    margin: 0;
    padding: 0;

}
header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
       
    border-bottom: 5px solid black;
    background-color: blueviolet;
}
h1{
    width: 80%;
    color: white; 
    margin: 0 auto;
    padding: 20px;
   
}
